/* :root shown below is a technique for changing the system colors */
:root {
  --primary-color: #1d5888;
  --secondary-color: #ff993b;
  --dark-color: #292929;
  --white-color: #e7e7e7;
}
/* The colors from root can be implemented throughout the document via the key word "var." However, since the class "bg-primary" is in-line, the CSS from here won't take affect. To remedy this, insert an extra g in "bg-primary" You will see the change immediately. Do the same for the footer class. */
body {
  color: var(--dark-color);
}
nav {
  background-color: var(--dark-color);
}
footer {
  background-color: var(--dark-color);
  padding-right: 1rem;
}

i {
  opacity: 0.75;
}
i:hover {
  opacity: 0.9;
  color: var(--primary-color);
  /* color does not work on hover. Cause: used BS icons instead of font-awsome. */
  color: #bd1313
  
}

h1,h2,h3,h4,h5,h6 {
  color: var(--primary-color);
}
main>.container {
  padding: 60px 15px 0;
  margin-bottom: 5rem;
}
.sticky-footer {
  position: sticky;
  left: 0;
  bottom: 0;
  width: 100%;
}
